.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

/* Table design */
#events {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
}

#events td, #events thead {
  border: 1px solid #ddd;
  padding: 8px;
}

#events tr:nth-child(even){background-color: #f2f2f2;}

#events tbody tr:hover {background-color: #ddd;}

#events thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #282c34;
  color: white;
}

#events td {
  text-align: left;
}
/* end of table design */


/* modal design */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal .modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  text-align: left;
  border-radius: 5px;
  z-index: 1000;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
/* end of modal design */